@charset 'utf-8';

@import '../fonts/stylesheet';
@import 'settings';
@import 'foundation';
@import 'jquery.fullPage';
@import "my-mixins";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;



body {
	letter-spacing: rem-calc(5);
	text-transform: uppercase;

	@include breakpoint(medium) {
	font-size: rem-calc(14);
	}
	@include breakpoint(large) {
	font-size: rem-calc(14);
	}	
	@include breakpoint(xlarge) {
	font-size: rem-calc(18);
	}		
}


.row {
	max-width: 100%;
}
.vertical-center{
	@include vertical-center;
}
.vertical-center-absolute{
	@include absolute-center;
}
// ::::::::::::: Landingpage :::::::::::::::

.home {
	text-align: center;
		li{
		margin:rem-calc(5);
		@include hh-medium;
		font-size: rem-calc(20);
		a{
			color: $white;
			&:hover{
				opacity: 0.5;
			}
		}
	}	
    h1 {
		@include hh-regular;
    	letter-spacing: rem-calc(5);
    	text-transform: uppercase;
    }
	h2 {
		@include hh-light;
    	letter-spacing: rem-calc(8);
	}
	.serif{
		@include font-family-serif ($font-family-serif, bold, $primary-color );
		font-style: italic;		
	} 	
	hr {
		width: rem-calc(350);
	    margin-top: rem-calc(40);
	    margin-bottom: rem-calc(40);
	}
}

#home-01 {
	background-image: 
	linear-gradient(rgba(12, 33, 50, 0.8), rgba(12, 33, 50, 0.8)),
	url('../img/aa-landing-bg.jpg');
	@include img-bg-cover-center;  
		li{
		float: left;
		@include hh-medium;
	}
	h1{
		margin-top: 5%;
	}
	#signatur {
		@include horizontal-center-home;
		}
	}
	.lang{
		position: absolute;
		bottom: 5%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		@include horizontal-center;
		color: $primary-color;
	}


#home-02 {
    background-image:
        linear-gradient(rgba(204, 204, 204, 0.6), rgba(204, 204, 204, 0.6)), 
        url('../img/aa-numbers-bg.jpg');
		@include img-bg-cover-center;
		h2 {
			@include vertical-center;
	}

}

#main-nav-ka {
	background-image:
	linear-gradient(rgba(12, 33, 50, 0.8), rgba(12, 33, 50, 0.8)), 
	url('../img/HGA-Anim-menu1.jpg');	
	@include img-bg-cover-center;
	h3{
		@include hh-regular;
		line-height: 1.275;
		@include breakpoint(medium) {
			margin-top: 17%;
		}
		@include breakpoint(large) {
			margin-top: 28%;
		}	
		@include breakpoint(xlarge) {
			margin-top: 17%;
		}			
	}
	.kapitel {
		margin-top: 60%;
		@include font-family-serif ($font-family-serif, bold, $primary-color );
		font-style: italic;
	}
}
#main-nav-rk {
	background-image:
	linear-gradient(rgba(12, 33, 50, 0.8), rgba(12, 33, 50, 0.8)), 
	url('../img/HGA-Anim-menu2.jpg');	
	@include img-bg-cover-center;
	h3{
		@include hh-regular;
		line-height: 1.275;
		@include hh-regular;
		line-height: 1.275;
		@include breakpoint(medium) {
			margin-top: 17%;
		}
		@include breakpoint(large) {
			margin-top: 28%;
		}	
		@include breakpoint(xlarge) {
			margin-top: 17%;
		}
	}
	.kapitel {
		margin-top: 60%;
		@include font-family-serif ($font-family-serif, bold, $primary-color );
		font-style: italic;
	}
}
#main-nav-sh {
	background-image:
	linear-gradient(rgba(12, 33, 50, 0.8), rgba(12, 33, 50, 0.8)),  
	url('../img/HGA-Anim-menu3.jpg');	
	@include img-bg-cover-center;
	h3{
		@include hh-regular;
		line-height: 1.275;
		@include hh-regular;
		line-height: 1.275;
		@include breakpoint(medium) {
			margin-top: 17%;
		}
		@include breakpoint(large) {
			margin-top: 28%;
		}	
		@include breakpoint(xlarge) {
			margin-top: 17%;
		}
	}
	.kapitel {
		margin-top: 60%;
		@include font-family-serif ($font-family-serif, bold, $primary-color );
		font-style: italic;
	}
}



// ::::::::::::: Gallery Nav Left fixed  Kreidler  :::::::::::::::

$gelaendesport-nav-button-class-bg-color: $light-gray; 
$gelaendesport-nav-button-class-bg-color-hover: darken($gelaendesport-nav-button-class-bg-color, 5%);

#gallery-nav-bg {
	width:100vh;    
	height:rem-calc(55);
	position:fixed;
	background-color: transparent;
	display: inline-block;
	color: $primary-color;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform: rotate(-90deg) translateX(-100%);
	-moz-transform: rotate(-90deg) translateX(-100%);
	-ms-transform: rotate(-90deg) translateX(-100%);
	-o-transform: rotate(-90deg) translateX(-100%);
	z-index: 100;
}

#gallery-nav {
	// border: 1px solid blue;
	width:100vh;    
	height:rem-calc(55);
	position:fixed;
	display: inline-block;
	color: $primary-color;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform: rotate(-90deg) translateX(-100%);
	-moz-transform: rotate(-90deg) translateX(-100%);
	-ms-transform: rotate(-90deg) translateX(-100%);
	-o-transform: rotate(-90deg) translateX(-100%);
	z-index: 101;	
	@include hh-medium;

	ul.toggle-menu{
		@include menu-expand (4);
		width:82vh; 
		visibility: hidden;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-delay: 0s;
		// -webkit-animation-iteration-count: infinite;
		ul{
			li{ height:rem-calc(54);
			}
		}
	}	
	h6 {
		@include font-family-serif ($font-family-serif, bold, $primary-color );
		font-style: italic;
		display: inline-block;

	}
	a.gallery-nav-button-class { 
		@include button;
		color: inherit;
		background: transparent; 
		height:rem-calc(54);
		margin:0;
		padding-top:rem-calc(16);
			 
			&:hover { 
				background: $gelaendesport-nav-button-class-bg-color-hover; 
				color: inherit;
			} 
			&:focus{
				background: $gelaendesport-nav-button-class-bg-color-hover;
			}	
		}	
		a.menu-btn-fixed{
		color: $secondary-color;
		position: fixed; 
		top:0; 
		right:0;
	}		
	ul.count-info{ 
		margin:0;
		.up-down-arrwos	{
				font-size: rem-calc(25);
				padding: rem-calc(10);
		}
		.count-numbers{
		-webkit-transform: rotate(+90deg) translateX(0);
		-moz-transform: rotate(+90deg) translateX(0);
		-ms-transform: rotate(+90deg) translateX(0);
		-o-transform: rotate(+90deg) translateX(0);	
		text-align:center;	
		margin-left: rem-calc(35);
		margin-right: rem-calc(15);
		}					
	}	
}

#gallery-lightbox {
	background-color: $light-gray;
	z-index:99;
	position: fixed;
	left:rem-calc(55);
	top:0;
	height:100vh;
	overflow: hidden;
	padding-right: 0;

	.gallery-lightbox-innerwrap {
	}
}


ul#gallery-lightbox-menu{ 
	border:1px solid red;
	padding-right: 20px;
	li{
		border:1px solid blue;
		height: 100px;
		margin-top: 10%;

		a{
			color: $primary-color;
			&:hover{
				  -webkit-transition: none;
				  -moz-transition: none;
				  -ms-transition: none;
				  -o-transition: none;
				  transition: none;
				  zoom: 1;
				  filter: alpha(opacity=50);
				  opacity: 0.5;
			}
		}
	}
}
		


// ::::::::::::: Gallery Image Content :::::::::::::::

.panel{
		// border: 1px solid red;
		color: $primary-color;
		background-color: $light-gray;
		height:100vh;
		text-align: center; 
		overflow: scroll;
		.content{
			// border: 1px solid red;
			padding:rem-calc(20) rem-calc(25);
			position: relative;
    		top: 50%;
    		transform: translateY(-50%);
	    h1 {
			@include font-family-serif ($font-family-serif, bold, $primary-color );
			font-style: italic;
			text-transform: uppercase;
	    }
		h2 {
	    	color: $white;
			@include hh-light;
	    	letter-spacing: rem-calc(8);
	    	margin-top: 10%;
		}
		.lead{
			margin-top: 10%;
			letter-spacing: rem-calc(2);
		}
		hr {
			width: rem-calc(350);
		    margin-top: rem-calc(40);
		    margin-bottom: rem-calc(40);
		}	
		.button {
			color: $primary-color;
			letter-spacing: inherit;
			@include hh-medium;

			&:hover{
				color: $white;
				}
			&:focus{
					color: $white;
				}
			&:active{
					color: $white;
				}    		
			}	
		}
	}


// ::::::::::::: Galerie Geländesport :::::::::::::::


.gallery-content-box {
	// margin-left: rem-calc(55);
	@include img-bg-cover-center;
}
.image-container{
	@include img-bg-cover-center;
}

.image-container-top{
	@include img-bg-cover-center;
	background-position:left top;
}



